/* debug */

.container [class*="col-"]{
  min-height: 200px;
  border: 1px solid black;
  background-color: lightcoral;
}


/* functions */

.text_centr{
  text-align: center;
}

.text_right{
  text-align: right;
}

/* general */

.title_h2{

}
