/* debug */

/* .container [class*="col-"]{
  min-height: 200px;
  border: 1px solid black;
  background-color: lightcoral;
} */
.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }
/* functions */

.text_centr{
  text-align: center;
}

.text_right{
  text-align: right;
}

.t_color_blue{
  color: #031c4e;
}

.t_color_azul{
  color: #006aff;
}

.t_color_white{
  color: #fff;
}

.t_up{
  text-transform: uppercase;
}


.bg_gradient_blue{
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,30,154,1) 100%);
}

.bg_grey{
  background-color: #f3f5f9;
}

.btn{
  background-color: #fff;
  color: #006aff;
}

.btn:hover{
  background-color: #006aff;
  color: #fff;
}

.btn_bord{
  border: 1px solid #006aff;
}

.p_top_40{
  padding-top: 40px;
}

.p_bottop_40{
  padding-bottom: 40px;
}

.m_top_30{
  margin-top: 30px;
}
.m_bottom_30{
  margin-bottom: 30px;
}

.m_bottom_20{
  margin-bottom: 20px;
}


.position_relative{
  position: relative;
}

.vert_alng_midd{
  vertical-align: middle;
}

/* general */

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 900px;
  width: 80%;
  margin: auto;
}

.title_h2{
  color: #031c4e;
  margin-bottom: 30px;
}

p{
  color: #717c98;
}


.link_angle{
  color: #006aff;
  text-decoration: none;
}

.link_angle:hover{
  color: #1633ff;
  text-decoration: none;
}





/* header TOP */

.header_top{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
}

.logo_menu{
  max-width: 200px;
}

nav ul li a{
  color: #031c4e;
}

nav ul li a:hover{
  color: #006aff;
  text-decoration: none;
}

.hamburger{
  font-size: 2rem;
  color: #69b3f3;
}


/* Jumbotron */

.jumbo{
  height: 400px;
  margin-top: 80px;
}


form{
  background-color: #fff;
  border-radius: 5px;
}

/* sezione partners */

.list_partners li{
  width: 48%;
}

/* @media screen and (min-width:768px){
  .list_partners li{
    width: 15%;
  }

} */

.list_partners li img{
  max-width: 100%;
  max-height: 77px;
  vertical-align: middle;
}

/* sezione features */

#features li{
  padding: 10px;
  border-left: 2px solid #e5e8ed;
}

#features .box_features{
  float: left;
  width: 45%;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:768px){
  .box_features{
    width: 100%;

  }

  .wrapper{
    width: 100%;
  }

}

/* sezione developers */

#developers img{
  max-width: 600px;
}

#developers .img_wrapper{
  display: inline-block;
  vertical-align: middle;
}

#developers .angle{
  font-size: 4rem;
  color: #031c4e;
  padding: 20px;
}

#developers .point{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #006aff;
}

#developers .point_white{
  border: 1px solid #006aff;
  background-color: #fff;
}
